#accordion section div
{
	display: none;
	text-align:  center;
}

#accordion section a
{
	text-align: center;
	color: black;
	text-decoration: none;
}

#accordion section:target div
{
	display: block;
}

#hamburguesa h2
{
	/*background-color: #1e1e1e;*/
	background-image: url("../images/blog-foot-second.jpg");
	background-position: center;
	background-size: cover;
	/*color: #fff;*/
	height: 100px;
	/*font-size: 8rem;*/
}